      <figure class="board">
      <% @board.each_with_index do |light, idx| %>
        <form action="<%= path %>" method="post">
          <button class="<%= on? light %>" name="move" value="<%= idx %>" type="submit"></button>
        </form>
      <% end %>
        <figcaption>
          <dl>
            <dt>Initial Seed:</dt>
            <dd>
              <a href="/game/<%= @board.initial_seed %>">
                <%= @board.initial_seed %>
              </a>
            <dd>
          </dl>
          <dl>
            <dt>Moves:</dt>
            <dd>
              <%= @board.moves %>
            </dd>
          </dl>
          <dl>
            <dt>New Game</dt>
            <dd>
              <a href="/game/<%= LIGHTSOUT.random_seed %>">
                RANDOM SEED
              </a>
            </dd>
          </dl>
        </figcaption>

      </figure>
